body {
font-size: medium;
color: darkmagenta;
font-family: Georgia, 'Times New Roman', Times, serif;
}

head {
    color: darksalmon;
}

div {
    color: deeppink;

}

body h2 {
    color: indianred;
}