body {
font-size: medium;
color: darkmagenta;
font-family: Georgia, 'Times New Roman', Times, serif;
}

head {
    color: darksalmon;
}

div {
    color: white;

}

body h2 {
    color: indianred;
}

#cavergera {
width: 70%;
padding: 1em;
text-align: center;
border: 1px solid;
margin: 0 auto;
background-color: indigo;
box-shadow: 0px 2px 50px 0px cyan;
border-radius: 1em;
}